.ScoreboardPerson {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 2fr;
  margin: 8px 20px 5px 20px;
  background-color: #FFB475;
  min-width: 2em;
  max-width: 100%;
}


#rank {
    grid-column: 1 / 2;
    grid-row: 1/3;
    font-size: 5vh;
    text-align: center;
    height: 50%;
}

#name {
  grid-column: 2;
  grid-row: 1;
}

#score {
  grid-column: 2;
  grid-row: 2;
}

#kilos-tracted  {
grid-column: 3;
}

#litres-tracted {

}