.ScoreboardPerson {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 2fr;
  margin: 8px 20px 5px 20px;
  min-width: 2em;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 414px;
}

.scoreboard-text {
  top: 10px;
  /* font-size: 5vh; */
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.scoreText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  display: flex;
  bottom: 0;
}