
.ScoreboardPerson {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  margin: 20px;
  background-color: #FFB475;
  min-width: 2em;
}

:first-child {
  grid-column-start: 2;
  grid-column-end: 6;
}

:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 4;
}

:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: -1;
}

:nth-child(n+4) {
  min-width: 232;
}



#rank {
    grid-column: 1 / 2;
    grid-row: 1/3;
    font-size: 3vh;
    text-align: center;
}

#name {
  grid-column: 2;
  grid-row: 1;
}

#score {
  grid-column: 2;
  grid-row: 2;
}
