
#registration-form {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: black 1px solid;
  width: 50%;
  margin: 0 auto;
  background: white;
}

.sign-up-field {
  display:flex;
  flex-direction: column;
}


#study-options {
  display:flex;
}

#signup-study {
  display:flex;
  flex-direction: row;
  justify-items: auto;
}