.custom-button {
    background: white;
    opacity: .8;
    padding: 20px;
    background: #f4e6e6;
    border-radius: 5px;
    margin: 8px;
}

.custom-button:hover {
    background: #422B08;
    color: #FFDEB7;
}

.custom-button-selected {
    background: #422B08;
    color: #FFDEB7;
    opacity: .8;
    margin: 8px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-buttons-wrapper {
    display:flex;
    flex-direction: row;
    align-content: space-between;
}
