#pageWrapper{
    flex: 6;  
    flex-direction: 'row';
    justify-content: 'space-between';
    flex-wrap: 'wrap';
}
body {
  background-color: "#FCDDA7";
}

#header {
  text-align: center;
  min-height: 8vh;
  background-color: #FCDDA7;
  top: 0;
  padding: 10px 16px;
  font-size: 2vh;
  font-family: Raleway, 'Helvetica Neue', Arial, sans-serif;
  max-width: 100%;
  position: sticky;
}