#pageWrapper{
    flex: 6;  
    flex-direction: 'row';
    justify-content: 'space-between';
    flex-wrap: 'wrap';
}
body {
  background-color: #DDAD74;
}

#header {
  text-align: center;
  min-height: 12vh;
  background-color: #422B08;
  top: 0;
  padding: 10px 16px;
  font-family: Raleway, 'Helvetica Neue', Arial, sans-serif;
  max-width: 100%;
  position: sticky;
}

#header-title {
  color: #FFDEB7;
}